.dark-mode {
  --color-orange: #FF9443;
  --color-orange-darker: #C4661E;
  --color-yellow: #F5CD26;
  --color-yellow-darker: #AB901B;
  --color-black: #FFFFFF;
  --color-white: #2E2A2B;
  --color-gray: #8A8888;
  --color-gray-light: #403D3E;
  --body-color: #FFF;
  --color-blue-hover: #8AB4F8;
  --color-text: #FFF;
  --color-gray-darker-to-white: #FFF;
  --icon-expand-more: url('../icons/expand-more-white.svg');
  --icon-document: url('../icons/file-white.svg');
}

.dark-mode .form-control {
    background-color: #565455;
    color: var(--color-black);
  }

.dark-mode .nav-tabs .nav-item .nav-link {
        color: var(--color-orange);
      }

.dark-mode .nav-tabs .nav-link.active, .dark-mode .nav-tabs .nav-item.show .nav-link {
    background-color: var(--color-orange);
  }

.dark-mode .nav-tabs .nav-link.active a, .dark-mode .nav-tabs .nav-item.show .nav-link a {
      color: var(--color-white);
    }

.dark-mode a {
    color: var(--color-blue-hover);
  }

.dark-mode h1 a, .dark-mode h2 a, .dark-mode h3 a, .dark-mode h4 a, .dark-mode h5 a, .dark-mode h5 a {
      color: var(--color-black);
    }

.dark-mode h1 a:hover, .dark-mode h1 a:active, .dark-mode h2 a:hover, .dark-mode h2 a:active, .dark-mode h3 a:hover, .dark-mode h3 a:active, .dark-mode h4 a:hover, .dark-mode h4 a:active, .dark-mode h5 a:hover, .dark-mode h5 a:active, .dark-mode h5 a:hover, .dark-mode h5 a:active {
        color: var(--color-blue-hover);
      }

.dark-mode .breadcrumb {
    background-color: var(--color-white);
  }

.dark-mode .breadcrumb a {
      color: var(--color-black) !important;
    }

.dark-mode .btn-iccwc {
    color: var(--color-orange) !important;
  }

.dark-mode .btn-iccwc:hover {
      color: var(--color-black) !important;
    }

.dark-mode .block-field-blocknodenewsfield-tags .field--name-field-tags .field__label {
      color: var(--color-gray-light-3);
    }

.dark-mode .block-field-blocknodenewsfield-tags .field--name-field-tags .field__items a {
      color: var(--color-black);
    }

.dark-mode .block-field-blocknodenewsfield-tags .field--name-field-tags .field__items a:hover {
        color: var(--color-white);
      }

.dark-mode .field--name-field-links a {
    color: var(--color-black);
  }

.dark-mode .field--name-field-links a:hover {
      color: var(--color-white);
    }

.dark-mode .field--name-field-links a:before {
      background: url("../icons/open-new-white.svg") no-repeat center;
    }

.dark-mode .field--name-field-links a:hover:before {
      background: url("../icons/open-new.svg") no-repeat center;
    }

.dark-mode .menu .navbar-nav .dropdown-menu .nav-item a {
        color: var(--color-white);
      }

.dark-mode .menu .navbar-nav .dropdown-menu .nav-item a:hover {
        color: var(--color-orange);
      }

.dark-mode .menu .navbar-nav .nav-item .dropdown-menu li + li {
      border-top: 1px solid var(--color-gray-light-4);
    }

.dark-mode .navbar-brand {
    color: #fff;
  }

.dark-mode .navbar-brand #darkModeBlack, .dark-mode .navbar-brand #darkModeBlack > * {
        fill: #fff;
      }

.dark-mode .navbar-brand #darkModeBlack .st2 {
        stroke: #fff !important;
      }

.dark-mode .navbar-brand #darkModeWhite, .dark-mode .navbar-brand #darkModeWhite > * {
        fill: #000;
      }

.dark-mode .navbar-brand:hover, .dark-mode .navbar-brand:focus {
      color: #fff;
    }

.dark-mode .iccwc-search-form .form-submit {
      background: url("../icons/magnify-white.svg") no-repeat center;
      background-size: contain;
    }

.dark-mode .iccwc-search-form input {
      color: var(--color-black);
    }

.dark-mode .iccwc-search-form input[type="text"] {
      background-color: var(--color-white) !important;
    }

.dark-mode .block-lang-dropdown select {
      color: var(--color-black) !important;
      background-color: var(--color-white) !important;
    }

.dark-mode .block-lang-dropdown .form-select {
      background: url("../icons/expand-more-white.svg") no-repeat center;
      width: 2.1875rem;
      height: 1.0625rem;
      display: inline-block;
      margin-left: 0.4375rem;
    }

.dark-mode .custom-control input[type="checkbox"] + label:after {
    background: url("../icons/toggle-switch-on.svg") no-repeat center;
  }

.dark-mode .block-iccwc-social-media svg.youtube path:last-child {
      fill: var(--color-white);
    }

.dark-mode .partner-teaser {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.45);
  }

.dark-mode .partner-teaser:hover{
      box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.85);
    }

.dark-mode .sidebar-menu a {
    color: var(--color-gray-light-2);
  }

.dark-mode .sidebar-menu a:not(.collapse-arrow):before {
    background: var(--color-gray-light-2);
  }

.dark-mode footer {
    border-top: 1px solid var(--color-gray);
    background-color: #231F20;
  }

.dark-mode footer .block-iccwc-social-media svg path {
          fill: var(--color-black);
        }

.dark-mode footer .block-iccwc-social-media svg.youtube path:last-child {
            fill: var(--color-white);
          }

.dark-mode footer nav a, .dark-mode footer nav a:hover, .dark-mode footer nav a:focus {
      color: var(--color-black) !important;
    }

.dark-mode .scrollup {
    background-color: var(--color-black) !important;
  }

.dark-mode .scrollup {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.45);
  }
