.slideshow-item {
  position: relative;
  opacity: 0.9;
  border: 2px solid var(--color-white);
  max-width: 100vw;
  width: 100%;

  & .info {
    position: absolute;
    padding: 30px 60px;
    bottom: 0;
    left: 0;
    color: #FFF;

    & .title, & .title a {
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      @mixin heading-4;
      color: #FFF;
      margin-bottom: 10px;
    }

    & .description {
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      @mixin max-lines 3;
    }
  }
}

.flipster--coverflow .flipster__item__content {
  -webkit-box-reflect: unset !important;
  box-reflect: unset !important;
}
