@import "../../../src/scss/variables_drupal";

.node--view-mode-teaser {
  padding: 20px;
  border: 1px solid var(--color-gray);
  border-radius: 10px;
  height: 100%;

  picture {
    margin-bottom: 20px;
  }

  a picture {
    position: relative;
    display: block;
  }

  a:hover img {
    border: 4px solid var(--color-yellow);
  }

  a:hover picture:after {
    content: '';
    background: var(--color-yellow);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    z-index: 100;
    border-radius: 10px;
    opacity: .4;
  }

  h3 {
    line-height: initial;
    margin-bottom: 10px;
  }
  &.node--type-partner{
    img{
      border: none;
    }
  }
  img {
    border: 4px solid var(--color-orange);
    border-radius: 10px;
    width: 100%;
    height: auto;
  }
  .date-tags{
    display: flex;
    @include small-text;
    margin-bottom: 15px;

    .field + .field {
      border-left: 1px solid var(--color-black);
      margin-left: 5px;
      padding-left: 5px;
    }
  }
  .title-teaser{
    font-size: 20px;
  }
  .field--name-field-tags {
    text-transform: uppercase;
    > div:not(:first-child) {
      display: none;
    }
  }

  &.node--type-resource {
    padding: 40px 0;
    border: 0;

    img {
      border: none !important;
    }

    .col-md-12 {
      display: flex;
      flex-direction: column;

      .field--name-field-image {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
      }
    }

    a:hover picture:after {
      border-radius: 0;
    }

    .field--name-field-media-image {
      display: flex;
      justify-content: center;

      > a {
        display: inline-block;
      }
    }

    picture {
      display: flex;
      justify-content: center;

      img {
        border: 0;
        width: auto;
        border-radius: 0;
      }
    }

    .field--name-field-caption {
      margin: 0;
    }

    .submitted-by {
      margin-bottom: 20px;
    }

    .field--name-body p {
      @include max-lines(7);
    }

    .download-resource-block {
      background: var(--color-gray-light);

      .files {
        display: flex;
        margin-bottom: 10px;

        a {
          color: var(--color-black);
          display: inline-block;
        }
      }

      .top {
        display: flex;
        margin-bottom: 10px;
      }

      .additional-materials {
        display: flex;
        align-items: center;

        p {
          color: var(--color-black);
        }

        &:hover {
          text-decoration: none;
        }
      }

      a[aria-expanded="false"] .arrow {
        transform: rotate(-180deg);
      }

      .arrow {
        position: static;
        border: none;
        transform: rotate(0);
        display: inline-flex;
      }

      .card-body {
        display: flex;
        flex-direction: column;
      }

      padding: 20px 10px;
      width: 97%;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid var(--color-gray);
      border-radius: 10px;

      .lang-download {
        display: inline-block;
        align-self: center;
        margin: 0 7px 0 0;
        font-weight: 700;
        text-decoration: none;
        padding: 20px 10px 20px 10px;
        border: 1px solid var(--color-orange);
        border-radius: 10px;
        color: var(--color-orange);

        &:hover {
          background: var(--color-orange);
          color: white;
        }
      }

      #brochure {
        margin-right: 0;
        margin-left: auto;
        border-color: var(--color-yellow);
        color: var(--color-black);

        &:hover {
          background-color: var(--color-yellow);
          color: white;
        }
      }

      p {
        color: var(--color-gray-darker);
        display: inline-block;
        align-self: center;
        margin: 0 10px 0 0;
        font-weight: 700;
      }
    }

    .field--name-field-organization {
      border: none;
      margin-left: 5px;
      text-decoration: none;
      color: var(--color-orange);
      font-weight: 700;
    }

    .submitted-by {
      display: flex;
      border-left: 3px solid var(--color-orange);
      padding-left: 5px;
    }

    .title-teaser {
      margin-bottom: 20px;
    }
  }
}

.node--view-mode-featured-teaser {
  .field--name-field-tags {
    text-transform: uppercase;
    > div:not(:first-child) {
      display: none;
    }
  }

  &.node--type-success-story {
    padding: 20px;
    border: 1px solid var(--color-orange);
    border-radius: 10px;
    @include large-text;

    .node__content {
      margin-bottom: 20px;
      line-height: 21px;
    }

    h3 {
      text-align: center;
      padding-bottom: 20px;
      border-bottom: 1px solid var(--color-gray);
      margin-bottom: 20px;

      a {
        color: var(--color-orange);
        &:hover, &:active {
          text-decoration: none;
        }
      }
    }
  }
}
