@import "../../../src/scss/variables_drupal";

.node--view-mode-teaser {
  padding: 20px;
  border: 1px solid var(--color-gray);
  border-radius: 10px;

  h3 {
    line-height: 1;
    margin-bottom: 10px;
  }
  img{
    border: double 6px transparent;
    border-radius: 20px;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #C6B362,#F49145);
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
  }
  .date-tags{
    display: flex;
    @include small-text;
    margin-bottom: 15px;

    .field + .field {
      border-left: 1px solid var(--color-black);
      margin-left: 5px;
      padding-left: 5px;
    }
  }
  .title-teaser{
    font-size: 20px;
  }
  .field--name-field-tags {
    text-transform: uppercase;
    > div:not(:first-child) {
      display: none;
    }
  }
}

.node--view-mode-featured-teaser {
  .field--name-field-tags {
    text-transform: uppercase;
    > div:not(:first-child) {
      display: none;
    }
  }

  &.node--type-success-story {
    padding: 20px;
    border: 1px solid var(--color-orange);
    border-radius: 10px;
    @include large-text;

    h3 {
      text-align: center;
      padding-bottom: 20px;
      border-bottom: 1px solid var(--color-gray);
      margin-bottom: 20px;

      a {
        color: var(--color-orange);
      }
    }
  }
}
