.darkmode {
  --color-orange: #E87722;
  --color-orange-darker: #C4661E;
  --color-yellow: #F5CD26;
  --color-yellow-darker: #AB901B;
  --color-black: #1E1E1E;
  --color-white: #FFFFFF;
  --color-gray: #E5E5E5;
  --color-gray-darker: #999999;
}
