.dark-mode {
  --color-orange: #E87722;
  --color-orange-darker: #C4661E;
  --color-yellow: #F5CD26;
  --color-yellow-darker: #AB901B;
  --color-black: #FFFFFF;
  --color-white: #1E1E1E;
  --color-gray: #E5E5E5;
  --color-gray-darker: #999999;

  --body-color: #FFF;
}

.dark-mode {
  .navbar-brand {
    color: #fff;

    #darkModeBlack {
      &, > * {
        fill: #fff;
      }

      .st2 {
        stroke: #fff !important;
      }
    }
    #darkModeWhite {
      &, > * {
        fill: #000;
      }
    }
  }
}
