@import '_variables_drupal.scss';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Source+Sans+Pro:wght@400;700&display=swap');

html {
  font-family: $font-family-sans-serif;
  color: var(--color-black);
  font-size: 16px;
}

body {
  h1 {
    @include heading-1;
  }
  h2 {
    @include heading-2;
  }
  h3 {
    @include heading-3;
  }
  h4 {
    @include heading-4;
  }
  h5 {
    @include heading-5;
  }
  h6 {
    @include heading-6;
  }
}
