// Theme variables.

$navbar-brand-image-height: 36px !default;
$navbar-brand-image-height-lg: 60px !default;
$navbar-brand-image-width: auto !default;
$navbar-brand-image-margin: 0 1rem 0 0 !default;

$navbar-brand-site-title-text-transform: uppercase !default;
$navbar-brand-site-title-font-size: 1.5rem !default;
$navbar-brand-site-title-font-weight: bold !default;
$navbar-brand-site-title-letter-spacing: 2px !default;
$navbar-brand-site-slogan-font-size: .875rem !default;

$region-padding: 0 .5rem !default;

$footer-padding: 2rem 0 !default;

$nav-tabs-link-active-bg-sm: #dee2e6 !default;

$local-tasks-primary-margin: 1rem 0 !default;
$local-tasks-secondary-margin: 0 0 1rem 0 !default;

$table-striped-bg: #f9f9f9 !default;

:root {
  --color-orange: #E87722;
  --color-orange-darker: #C4661E;
  --color-yellow: #F5CD26;
  --color-yellow-darker: #AB901B;
  --color-black: #1E1E1E;
  --color-white: #FFFFFF;
  --color-gray: #E5E5E5;
  --color-gray-darker: #999999;
}

$yellow-to-orange-gradient: linear-gradient(90deg, #CEB64F 0%, #F49145 100%);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
) !default;

$font-family-sans-serif:      'Open Sans', sans-serif !default;
$font-family-headings:        'Source Sans Pro', sans-serif !default;

@mixin heading {
  font-weight: bold;
  font-family: $font-family-headings;
}

@mixin heading-1 {
  @include heading;
  font-size: 56px;
  line-height: 60px;
}

@mixin heading-2 {
  @include heading;
  font-size: 44px;
  line-height: 50px;
}

@mixin heading-3 {
  @include heading;
  font-size: 36px;
  line-height: 40px;
}

@mixin heading-4 {
  @include heading;
  font-size: 26px;
  line-height: 28px;
}

@mixin heading-5 {
  @include heading;
  font-size: 24px;
  line-height: 26px;
}

@mixin heading-6 {
  @include heading;
  font-size: 20px;
  line-height: 22px;
}

@mixin large-text {
  font-size: 18px;
  line-height: 20px;
}

@mixin normal-text {
  font-size: 16px;
  line-height: 18px;
}

@mixin small-text {
  font-size: 14px;
  line-height: 16px;
}
