// Theme variables.

$navbar-brand-image-height: 36px !default;
$navbar-brand-image-height-lg: 60px !default;
$navbar-brand-image-width: auto !default;
$navbar-brand-image-margin: 0 1rem 0 0 !default;

$navbar-brand-site-title-text-transform: uppercase !default;
$navbar-brand-site-title-font-size: 1.5rem !default;
$navbar-brand-site-title-font-weight: bold !default;
$navbar-brand-site-title-letter-spacing: 2px !default;
$navbar-brand-site-slogan-font-size: .875rem !default;

$region-padding: 0 .5rem !default;

$footer-padding: 2rem 0 !default;

$nav-tabs-link-active-bg-sm: #dee2e6 !default;

$local-tasks-primary-margin: 1rem 0 !default;
$local-tasks-secondary-margin: 0 0 1rem 0 !default;

$table-striped-bg: #f9f9f9 !default;

$font-family-sans-serif:      'Open Sans', sans-serif !default;
$font-family-headings:        'Source Sans Pro', sans-serif !default;

@mixin heading {
  font-weight: bold;
  font-family: $font-family-headings;
  color: var(--color-text);
}

@mixin heading-1 {
  @include heading;
  font-size: 56px;
  line-height: 60px;

  @media (max-width: 991px) {
    font-size: 26px;
    line-height: 28px;
  }
}

@mixin heading-2 {
  @include heading;
  font-size: 44px;
  line-height: 50px;

  @media (max-width: 991px) {
    font-size: 24px;
    line-height: 26px;
  }
}

@mixin heading-3 {
  @include heading;
  font-size: 36px;
  line-height: 40px;

  @media (max-width: 991px) {
    font-size: 20px;
    line-height: 22px;
  }
}

@mixin heading-4 {
  @include heading;
  font-size: 26px;
  line-height: 28px;
}

@mixin heading-5 {
  @include heading;
  font-size: 24px;
  line-height: 26px;
}

@mixin heading-6 {
  @include heading;
  font-size: 20px;
  line-height: 22px;

  @media (max-width: 991px) {
    font-size: 18px;
  }
}

@mixin large-text {
  font-size: 18px;
  line-height: 20px;
}

@mixin normal-text {
  font-size: 16px;
  line-height: 18px;
}

@mixin small-text {
  font-size: 14px;
  line-height: 16px;
}

@mixin max-lines($n) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $n;
  line-clamp: $n;
  -webkit-box-orient: vertical;
}

@mixin black-link {
  color: var(--color-text);

  &:hover, &:focus {
    color: var(--color-blue);
  }
}
