{{ related_content_view }}
{% if see_more_text and see_more_link %}
  <div class="centered-button">
    <a class="btn-iccwc btn-next" href="{{ see_more_link }}">{{ see_more_text }}</a>
  </div>
{% endif %}
