<a href="#" target="_blank">
  <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M19.2502 3.34442H6.75016V7.51109H19.2502V3.34442ZM20.2918 12.7194C20.0156 12.7194 19.7506 12.6097 19.5553 12.4143C19.3599 12.219 19.2502 11.954 19.2502 11.6778C19.2502 11.4015 19.3599 11.1365 19.5553 10.9412C19.7506 10.7458 20.0156 10.6361 20.2918 10.6361C20.5681 10.6361 20.8331 10.7458 21.0284 10.9412C21.2238 11.1365 21.3335 11.4015 21.3335 11.6778C21.3335 11.954 21.2238 12.219 21.0284 12.4143C20.8331 12.6097 20.5681 12.7194 20.2918 12.7194ZM17.1668 20.0111H8.8335V14.8028H17.1668V20.0111ZM20.2918 8.55275H5.7085C4.87969 8.55275 4.08484 8.88199 3.49879 9.46805C2.91274 10.0541 2.5835 10.849 2.5835 11.6778V17.9278H6.75016V22.0944H19.2502V17.9278H23.4168V11.6778C23.4168 10.849 23.0876 10.0541 22.5015 9.46805C21.9155 8.88199 21.1206 8.55275 20.2918 8.55275Z" fill="#E87722"/>
  </svg>
</a>
<a href="https://www.facebook.com/sharer/sharer.php?u={{ link }}" target="_blank">
  <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_4868_2460)">
      <path d="M25.5002 12.796C25.5002 5.84908 19.9033 0.217834 13.0002 0.217834C6.09395 0.219397 0.49707 5.84909 0.49707 12.7975C0.49707 19.0741 5.06895 24.2772 11.0439 25.221V16.4319H7.87207V12.7975H11.0471V10.0241C11.0471 6.87252 12.9143 5.1319 15.7689 5.1319C17.1377 5.1319 18.5674 5.37721 18.5674 5.37721V8.47096H16.9908C15.4393 8.47096 14.9549 9.44127 14.9549 10.4366V12.796H18.4205L17.8674 16.4303H14.9533V25.2194C20.9283 24.2756 25.5002 19.0725 25.5002 12.796Z" fill="#E87722"/>
    </g>
    <defs>
      <clipPath id="clip0_4868_2460">
        <rect width="25" height="25" fill="white" transform="translate(0.5 0.219421)"/>
      </clipPath>
    </defs>
  </svg>
</a>
<a href="https://twitter.com/intent/tweet?url={{ link }}">
  <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_4868_2456)">
      <path d="M8.35313 23.6569C17.7875 23.6569 22.9484 15.8397 22.9484 9.07253C22.9484 8.85378 22.9484 8.63191 22.9391 8.41316C23.9438 7.68579 24.811 6.78527 25.5 5.75378C24.5614 6.16761 23.5668 6.44035 22.5484 6.56316C23.6211 5.92196 24.4246 4.91311 24.8094 3.72409C23.8015 4.32116 22.6985 4.7403 21.5484 4.96316C20.7753 4.13976 19.7522 3.59428 18.6376 3.41121C17.5231 3.22815 16.3793 3.41772 15.3833 3.95056C14.3874 4.48339 13.595 5.32976 13.1288 6.35856C12.6626 7.38736 12.5487 8.54118 12.8047 9.64128C10.7652 9.53902 8.77003 9.0092 6.9485 8.08619C5.12698 7.16318 3.51982 5.8676 2.23125 4.28347C1.57709 5.41329 1.37746 6.74972 1.67288 8.02138C1.96831 9.29305 2.73665 10.4046 3.82187 11.1303C3.00866 11.1027 2.21331 10.8843 1.5 10.4928V10.5632C1.5014 11.7467 1.91142 12.8935 2.66074 13.8097C3.41006 14.7258 4.45273 15.3551 5.6125 15.5913C5.17229 15.7126 4.71755 15.773 4.26094 15.771C3.93904 15.7719 3.61778 15.7421 3.30156 15.6819C3.62935 16.7007 4.26761 17.5915 5.12695 18.2295C5.98628 18.8675 7.02365 19.2207 8.09375 19.2397C6.27587 20.6675 4.03031 21.4419 1.71875 21.4382C1.31144 21.4399 0.904411 21.4164 0.5 21.3678C2.84612 22.8636 5.57078 23.6578 8.35313 23.6569Z" fill="#E87722"/>
    </g>
    <defs>
      <clipPath id="clip0_4868_2456">
        <rect width="25" height="25" fill="white" transform="translate(0.5 0.219421)"/>
      </clipPath>
    </defs>
  </svg>
</a>
<a href="https://www.linkedin.com/sharing/share-offsite/?url={{ link }}" target="_blank">
  <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_4868_2458)">
      <path d="M0.5 2.01005C0.5 1.02098 1.32187 0.219421 2.33594 0.219421H23.6641C24.6781 0.219421 25.5 1.02098 25.5 2.01005V23.4288C25.5 24.4179 24.6781 25.2194 23.6641 25.2194H2.33594C1.32187 25.2194 0.5 24.4179 0.5 23.4288V2.01005ZM8.22344 21.1475V9.85848H4.47188V21.1475H8.22344ZM6.34844 8.3163C7.65625 8.3163 8.47031 7.45067 8.47031 6.3663C8.44687 5.25848 7.65781 4.4163 6.37344 4.4163C5.08906 4.4163 4.25 5.26005 4.25 6.3663C4.25 7.45067 5.06406 8.3163 6.32344 8.3163H6.34844ZM14.0172 21.1475V14.8429C14.0172 14.5054 14.0422 14.1679 14.1422 13.9272C14.4125 13.2538 15.0297 12.5554 16.0672 12.5554C17.425 12.5554 17.9672 13.5897 17.9672 15.1085V21.1475H21.7188V14.6725C21.7188 11.2038 19.8687 9.5913 17.4 9.5913C15.4094 9.5913 14.5172 10.685 14.0172 11.4554V11.4944H13.9922C14.0005 11.4814 14.0088 11.4684 14.0172 11.4554V9.85848H10.2672C10.3141 10.9179 10.2672 21.1475 10.2672 21.1475H14.0172Z" fill="#E87722"/>
    </g>
    <defs>
      <clipPath id="clip0_4868_2458">
        <rect width="25" height="25" fill="white" transform="translate(0.5 0.219421)"/>
      </clipPath>
    </defs>
  </svg>
</a>
