<div class="success-stories-wrapper">
  <div class="featured-story">
    <div class="subtitle">{{ "Featured" | t }}</div>
    {{ featured_story }}
  </div>
  <div class="success-stories">
    <div class="subtitle">{{ "More success stories" | t }}</div>
    {{ success_stories }}
  </div>
</div>
