@import "../../../src/scss/variables_drupal";

.view-partners-and-donors {
  .view-footer {
    text-align: center;
    margin-top: 30px;
  }

  .views-row {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .view-content {
    text-align: center;
  }
}

.partner-teaser {
  padding: 20px;
  background: #FFF;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  &:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
  }
}
