@import "../../../src/scss/variables_drupal";
.vertical-tabs {
  padding: 20px;

  .nav-pills {
    display: none;
  }

  .card-body {
    position: relative;
    display: flex;
    border: 1px solid var(--color-gray);
    border-radius: 10px;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .youtube-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  }

  @media (min-width: 768px) {
    .nav-pills {
      display: flex;
      align-self: baseline;

      .nav-link {
        position: relative;
        text-decoration: none;
        color: var(--color-gray-darker);
        font-weight: 700;
        width: 100%;
        padding: 10px;
        text-align: left;
        display: flex;

        &:before {
          content: '◼';
          width: 10px;
          height: 10px;
          position: absolute;
          top: 8px;
          left: -20px;
        }

        &.active {
          color: var(--color-orange);
          background-color: white;
        }
      }
    }
    .tab-content .tab-pane h5 a {
      display: none;
    }

    .tab-pane {
      & .collapse {
        display: block;
      }

      .image-container {
        border: none;
      }

      .col-md-6 {
        display: flex;
        flex-direction: column;
        &:nth-child(2) {
          padding: 15px;
        }
        .btn-iccwc.btn-next{
          margin-top: auto;
          margin-right: auto;
        }
      }

      p {
        @include max-lines(7);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: var(--color-black);
      }
      figure {
        margin: 21.5px 14.5px;
      }
    }
  }

  @media (max-width: 767px) {
    .tab-content > .tab-pane {
      display: block !important;
      opacity: 1;
    }
    .tab-pane h5 a {
      position: relative;
      text-decoration: none;
      color: var(--color-gray-darker);
      font-weight: 700;
      width: 100%;
      padding: 10px;
      text-align: left;
      display: flex;
      margin-left: 20px;
      &:before {
        content: '◼';
        width: 10px;
        height: 10px;
        position: absolute;
        top: 9px;
        left: -20px;
      }
      &:hover {
        text-decoration: none;
      }
      &[aria-expanded="true"] {
        color: var(--color-orange);
      }
    }
    .card-body {
      padding: 16px 5px;
    }
    p {
      @include max-lines(8);
    }
  }
}
