.slick--field-highlights {
  width: 600px;


  .slick__slide {
    background-color: var(--color-white);
    border-radius: 10px 10px 0 0;
  }

  .slick__arrow {
    width: calc(100% + 100px);
    left: -50px;
  }
}
