{{ attach_library('frontend/latest_news') }}

<div class="latest-news-wrapper">
  <div class="featured-news">
    {{ featured_news }}
  </div>
  <div class="news-view">
    {{ latest_news }}
  </div>
</div>


