@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:wght@400;700&display=swap');

html {
  font-family: var(--body-font-family);
  color: var(--color-black);
  font-size: 16px;
}

body {
  & h1 {
    @mixin heading-1;
  }
  & h2 {
    @mixin heading-2;
  }
  & h3 {
    @mixin heading-3;
  }
  & h4 {
    @mixin heading-4;
  }
  & h5 {
    @mixin heading-5;
  }
  & h6 {
    @mixin heading-6;
  }
}

.max-1-lines {
  @mixin max-lines 1;
}

.max-2-lines {
  @mixin max-lines 2;
}

.max-3-lines {
  @mixin max-lines 3;
}

.max-4-lines {
  @mixin max-lines 4;
}

.max-5-lines {
  @mixin max-lines 5;
}
