.slick--field-highlights {
  width: 600px;
}

.block-inline-blockfrontpage-banner {
  overflow: hidden;
}
.block-inline-blockfrontpage-banner .youtube-container {
  border: 4px solid #E87722;
  border-radius: 10px;
  margin: 0;
}
.block-inline-blockfrontpage-banner .wrapper {
  position: relative;
  padding: 38px 93px 0 93px;
  margin-top: -1px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 0;
  max-height: 650px;
}
@media (min-width: 992px) {
  .block-inline-blockfrontpage-banner .wrapper {
    height: 620px;
  }
}
@media (max-width: 991px) {
  .block-inline-blockfrontpage-banner .wrapper {
    padding: 30px 30px 0 30px;
  }
}
.block-inline-blockfrontpage-banner img {
  max-width: none;
}
.block-inline-blockfrontpage-banner .background-image {
  position: absolute;
  top: 0;
  z-index: -1;
  max-width: 100%;
  overflow: hidden;
  height: 100%;
}
.block-inline-blockfrontpage-banner .field--name-field-image {
  height: 100%;
  border-top: 4px solid var(--color-orange);
}
.block-inline-blockfrontpage-banner picture {
  display: block;
  height: 100%;
}
.block-inline-blockfrontpage-banner picture img {
  height: 100%;
}
.block-inline-blockfrontpage-banner .content-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.block-inline-blockfrontpage-banner .highlights-wrapper {
  margin-top: auto;
}
.block-inline-blockfrontpage-banner .left-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.block-inline-blockfrontpage-banner .left-col > .field--name-field-description {
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
  color: var(--color-text);
  font-size: 36px;
  line-height: 40px;
  color: var(--color-white);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}
@media (max-width: 991px) {
  .block-inline-blockfrontpage-banner .left-col > .field--name-field-description {
    font-size: 20px;
    line-height: 22px;
  }
}
@media (max-width: 991px) {
  .block-inline-blockfrontpage-banner .left-col > .field--name-field-description {
    color: var(--color-white);
    margin-bottom: 30px;
  }
}
.block-inline-blockfrontpage-banner .field--name-field-video {
  max-width: 600px;
  margin-left: 60px;
}
.block-inline-blockfrontpage-banner .field--name-field-video .media {
  border: 4px solid var(--color-orange);
  border-radius: 10px;
  margin: 0;
}
@media (max-width: 991px) {
  .block-inline-blockfrontpage-banner .field--name-field-video {
    margin: 0;
    max-width: 400px;
  }
}
.block-inline-blockfrontpage-banner .highlights {
  margin-top: auto;
}
.block-inline-blockfrontpage-banner .whats-new {
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
  color: var(--color-text);
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  color: var(--color-white);
}
@media (max-width: 991px) {
  .block-inline-blockfrontpage-banner .whats-new {
    font-size: 18px;
  }
}

.paragraph--type--highlight {
  border-radius: 10px 10px 0 0;
  padding: 15px 20px;
}
.paragraph--type--highlight > * {
  margin-bottom: 10px;
  display: block;
}
.paragraph--type--highlight > a {
  color: var(--color-text);
}
.paragraph--type--highlight > a:hover, .paragraph--type--highlight > a:focus {
  color: var(--color-blue);
}
.paragraph--type--highlight .field--name-field-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: bold;
}
.paragraph--type--highlight .field--name-field-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
/*# sourceMappingURL=../../map/components/frontpage/frontpage-banner.css.map */
