.success-stories-wrapper {
  display: flex;
  justify-content: space-between;
}

  .success-stories-wrapper .subtitle {
    font-size: 0.875rem;
    line-height: 1rem;
    text-transform: uppercase;
    color: var(--color-orange);
    margin-bottom: 0.625rem;
    font-weight: bold;
    flex: 0 0 auto;
  }

.featured-story {
  display: flex;
  flex-direction: column;
}

.featured-story > div {
    display: flex;
    flex: 1;
  }

.featured-story .views-row {
    display: flex;
  }

.featured-story .node {
    display: flex;
    flex-direction: column;
  }

.success-stories {
  display: flex;
  flex-direction: column;
}

.success-stories .views-element-container {
    height: 100%;
  }

.success-stories .views-element-container > * {
      height: 100%;
    }

.success-stories .views-element-container > * > * {
        height: 100%;
      }

.success-stories .views-element-container > * > * > * {
          height: 100%;
        }

.success-stories .views-element-container > * > * > * > * {
            height: 100%;
          }

.success-stories .views-element-container > * > * > * > * > * {
              height: 100%;
            }

.success-stories h3 {
    text-align: center;
  }
