@import "../variables_drupal";

body {
  background-color: var(--color-white);
  overflow-x: hidden;
}

.container .container {
  padding: 0;
}

.max-6-lines {
  @include max-lines(6);
}

.max-3-lines {
  @include max-lines(3);
}

.max-2-lines {
  @include max-lines(2);
}

a {
  color: var(--color-blue);

  &:hover, &:active {
    color: var(--color-blue);
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h5 {
  a {
    color: var(--color-text);

    &:hover, &:active {
      color: var(--color-blue);
    }
  }
}

.btn-iccwc {
  @include small-text;
  font-weight: bold;
  color: var(--color-orange);
  border-radius: 20px;
  border: 1px solid var(--color-orange);
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  display: inline-flex;

  &:hover {
    color: #FFF;
    background-color: var(--color-orange);
    text-decoration: none;

    &.btn-next {
      &:after {
        background-image: url('../icons/arrow-white.svg');
      }
    }
  }

  &.btn-next {
    padding-right: 10px;
    &:after {
      content: '';
      background-image: url('../icons/arrow-orange.svg');
      transform: rotate(270deg);
      width: 20px;
      height: 20px;
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      margin-left: 10px;
    }
  }
}

.centered-button {
  margin-top: 20px;
  text-align: center;
}

.scrollup {
  background-color: var(--color-white) !important;
  border: 1px solid var(--color-gray);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 47px;
  border-radius: 47px;

  &:after {
    content: '';
    background: url('../icons/arrow-orange.svg') center no-repeat;
    width: 40px;
    height: 40px;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
    position: absolute;
  }
}

.field--type-text-long,
.field--type-text-with-summary {
  display: flex;
  flex-direction: column;

  ul li::marker {
    color: #E87722;
    line-height: 1.5625;
    font-size: 1.4em;
  }
  ul li{
    padding-left: 20px;
  }
}

.section-title {
  @include heading-2;
  font-weight: bold;
  border-left: 4px solid var(--color-orange);
  padding-left: 20px;
  color: var(--color-black);
  margin-left: 10px;
}

blockquote{
  border-top: 3px solid var(--color-orange);
  border-bottom: 3px solid var(--color-orange);
  padding: 20px 10px 20px 10px;
  margin: 20px 0 20px 0;
  position: relative;

  p {
    padding: 20px 30px 20px 30px;
    overflow: visible;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    font-style: italic;
    text-align: justify;

    &:before{
      content: '';
      background-image: url('../icons/quote.svg');
      width: 40px;
      height: 40px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      overflow: auto;
      position: absolute;
      margin-left: -45px;
      opacity: 0.2;
    }

    &:after{
      content: " ";
      background-image: url('../icons/quote.svg');
      transform: rotate(180deg);
      width: 40px;
      height: 40px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      overflow: auto;
      position: absolute;
      right: 0;
      margin-top: -10px;
      opacity: 0.2;
    }
  }
}

.image-container {
  padding: 20px;
  border: 1px solid var(--color-gray);
  border-radius: 10px;
}

.layout-section {
  padding: 80px 0;
}

.layout-section:not(:last-child) {
  border-bottom: 4px solid var(--color-yellow);
}

.section-title {
  border-left: 4px solid var(--color-yellow);
  padding-left: 20px;
  margin-bottom: 40px;
}

.layout-section.bs-bg-light {
  background-color: var(--color-gray-light) !important;
}

.block-centered {
  display: flex;
  justify-content: center;
}

.block-border {
  padding: 20px;
  border: 1px solid var(--color-gray);
  border-radius: 10px;
}

.field--name-field-caption {
  color: var(--color-gray-darker);
  font-size: 12px;
  margin-top: 10px;
  text-align: right;
}

.container {

}

.field--name-field-links{
  display: flex;
  a {
    display: flex;
    border: 1px solid var(--color-gray);
    border-radius: 5px;
    padding: 20px 10px 20px 10px;
    margin: 10px;
    color: var(--color-black);
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    &:before {
      content: '';
      background-image: url('../icons/open_in_new.svg');
      width: 20px;
      height: 20px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      overflow: auto;
      margin-right: 10px;
    }
    &:hover{
      background: var(--color-gray-light-2);
    }
  }
}

.column-border {
  .layout-builder__layout {
    > div + div {
      border-left: 1px solid var(--color-gray);
    }
  }
}
