@import "../variables_drupal";

body {
  background-color: var(--color-white);
  overflow-x: hidden;
}

.container .container {
  padding: 0;
}

.max-6-lines {
  @include max-lines(6);
}

.max-3-lines {
  @include max-lines(3);
}

.max-2-lines {
  @include max-lines(2);
}

a {
  color: var(--color-blue);

  &:hover, &:active {
    color: var(--color-blue);
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h5 {
  a {
    color: var(--color-text);

    &:hover, &:active {
      color: var(--color-blue);
    }
  }
}

.btn-iccwc {
  @include small-text;
  font-weight: bold;
  color: var(--color-orange);
  border-radius: 20px;
  border: 1px solid var(--color-orange);
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  display: inline-flex;

  &:hover {
    color: #FFF;
    background-color: var(--color-orange);
    text-decoration: none;

    &.btn-next {
      &:after {
        background-image: url('../icons/arrow-white.svg');
      }
    }
  }

  &.btn-next {
    padding-right: 10px;
    &:after {
      content: '';
      background-image: url('../icons/arrow-orange.svg');
      transform: rotate(270deg);
      width: 20px;
      height: 20px;
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      margin-left: 10px;
    }
  }
}

.centered-button {
  margin-top: 20px;
  text-align: center;
}

.scrollup {
  background-color: var(--color-white) !important;
  border: 1px solid var(--color-gray);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 47px;
  border-radius: 47px;

  &:after {
    content: '';
    background: url('../icons/arrow-orange.svg') center no-repeat;
    width: 40px;
    height: 40px;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
    position: absolute;
  }
}

.layout-section {
  padding: 80px 0;
}

.layout-section:not(:last-child) {
  border-bottom: 4px solid var(--color-yellow);
}

.section-title {
  border-left: 4px solid var(--color-yellow);
  padding-left: 20px;
  margin-bottom: 40px;
}

.layout-section.bs-bg-light {
  background-color: var(--color-gray-light) !important;
}

.block-centered {
  display: flex;
  justify-content: center;
}

.block-border {
  padding: 20px;
  border: 1px solid var(--color-gray);
  border-radius: 10px;
}
